<html>
    <head>
    	<link rel="stylesheet" href="./template.css">
    </head>
    <body>
        <div class="container">
        <div class="round1"></div>
        <div class="round2"></div>
            
            <table class="text" style="width: 80%; margin-top: 100px;">
                <tr>
                    <td align="center">Email de confirmation</td>
                </tr>
                <tr>
                    <td align="center">Bonjour {{name}}</td>
                </tr>
                <tr>
                    <td align="center">Merci pour ton inscription sur travailaveclesourire.fr</td>
                </tr>
                <tr>
                    <td align="center">Afin d'activer ton compte merci de copier le code ci-dessous</td>
                </tr>
                <tr>
                    <td align="center">ton code d'activation : {{code}}</td>
                </tr>
                <tr>
                    <td align="center">A bientôt sur travailaveclesourire.fr</td>
                </tr>
            </table>
        </div>
    </body>
</html>