<html>
    <head>
    	<link rel="stylesheet" href="./template.css">
    </head>
    <body>
        <div class="container">
        <div class="round1"></div>
        <div class="round2"></div>
            
            <table class="text" style="width: 80%;height: 200px; margin: 200px auto; padding: 20px;">
                <tr>
                    <td align="center" style="font-size: 2rem;">Email de confirmation</td>
                </tr>
                <tr>
                    <td align="center" style="font-size: 1.8rem;">Bonjour {{name}}</td>
                </tr>
                <tr>
                    <td align="center" style="font-size: 1.8rem;">Merci pour ton inscription sur travailaveclesourire.fr 😁</td>
                </tr>
                <tr>
                    <td align="center" style="font-size: 1.6rem;">Afin d'activer ton compte merci de copier le code ci-dessous</td>
                </tr>
                <tr>
                    <td align="center" style="font-size: 1.6rem;">ton code d'activation : {{code}}</td>
                </tr>
                <tr>
                    <td align="center" style="font-size: 1.3rem;">A bientôt sur travailaveclesourire.fr</td>
                </tr>
            </table>
        </div>
    </body>
</html>