<html>
    <head>
    	<link rel="stylesheet" href="./template.css">
    </head>
    <body>
        <div class="container">
        <table class="round1"></table>
        <table class="round2"></table>
            <table class="text">
                <tr>
                    <td>Email de confirmation</td>
                </tr>
                <tr>
                    <td>Bonjour {{name}}</td>
                </tr>
                <tr>
                    <td>Merci pour ton inscription sur travailaveclesourire.fr</td>
                </tr>
                <tr>
                    <td>Afin d'activer ton compte merci de copier le code ci-dessous</td>
                </tr>
                <tr>
                    <td>ton code d'activation : {{code}}</td>
                </tr>
                <tr>
                    <td>A bientôt sur travailaveclesourire.fr</td>
                </tr>
            </table>
        </div>
    </body>
</html>